./sources/oe-core/.git
./sources/meta-arm/.git
./sources/bitbake/.git
./sources/meta-arago/.git
./sources/meta-qt6/.git
./sources/meta-openembedded/.git
./sources/meta-virtualization/.git
./sources/meta-ti/.git
./sources/meta-tisdk/.git

./sources/oe-core/meta-selftest/recipes-test/cpp/.gitignore
./sources/oe-core/.gitignore
./sources/oe-core/scripts/contrib/oe-image-files-spdx/.gitignore
./sources/meta-arm/.gitignore
./sources/bitbake/lib/toaster/logs/.gitignore
./sources/bitbake/.gitignore
./sources/bitbake/doc/.gitignore
./sources/meta-arago/.gitignore
./sources/meta-openembedded/.gitignore
./sources/meta-virtualization/.gitignore
./sources/meta-virtualization/scripts/.gitignore
./sources/meta-ti/.gitignore
./sources/meta-tisdk/.gitignore